/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/03/2018, 11:23:38
    Author     : jeanfernandes
*/

#form-basico{
    width: 50%;
    margin-left:  250px;

}

#tabelaBasico{
    border: 1px solid black;
    width: 100%;
    height: 50px;
}